/** Montserrat **/
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url($font-folder + "Poppins-Thin.ttf") format("ttf");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url($font-folder + "Poppins-ExtraLight.ttf") format("ttf");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url($font-folder + "Poppins-Light.ttf") format("ttf");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url($font-folder + "Poppins-Regular.ttf") format("ttf");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url($font-folder + "Poppins-Medium.ttf") format("ttf");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url($font-folder + "Poppins-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url($font-folder + "Poppins-Bold.ttf") format("ttf");
}
