/** Montserrat **/
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url($font-folder + "Montserrat-Thin.ttf") format("ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url($font-folder + "Montserrat-ExtraLight.ttf") format("ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url($font-folder + "Montserrat-Light.ttf") format("ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url($font-folder + "Montserrat-Regular.ttf") format("ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url($font-folder + "Montserrat-Medium.ttf") format("ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url($font-folder + "Montserrat-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url($font-folder + "Montserrat-Bold.ttf") format("ttf");
}

/** OpenSans **/


@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url($font-folder + "OpenSans-Light.ttf") format("ttf");
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url($font-folder + "OpenSans-Regular.ttf") format("ttf");
}


@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url($font-folder + "OpenSans-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url($font-folder + "OpenSans-Bold.ttf") format("ttf");
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url($font-folder + "OpenSans-ExtraBold.ttf") format("ttf");
}

/** Nunito **/

@font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url($font-folder + "Nunito-ExtraLight.ttf") format("ttf");
}

@font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url($font-folder + "Nunito-Light.ttf") format("ttf");
}

@font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url($font-folder + "Nunito-Regular.ttf") format("ttf");
}


@font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url($font-folder + "Nunito-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url($font-folder + "Nunito-Bold.ttf") format("ttf");
}

@font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url($font-folder + "Nunito-Black.ttf") format("ttf");
}

