@mixin alert-variant($background, $border, $color) {
  color: $color;
  @include gradient-bg($background);
  @include box-shadow(0 0 .6rem $alert-shadow-width rgba($background, .4));
  border-color: $border;

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: darken($color, 10%);
  }
}
